.daje {
  text-shadow: 0px green 10px whitesmoke 30px blueviolet 40px white;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,

  }
  20%, 24%, 55% { 
      text-shadow: none;
  }
}